html.grey {
  color-scheme: dark;
  --vxe-input-border-color: #bbb;
  --vxe-input-disabled-color: #8d9095;
  --vxe-input-disabled-background-color: #585656;
  --vxe-input-placeholder-color: #8d9095;
  --vxe-table-popup-border-color: #424242;
  --vxe-table-header-font-color: #98989e;
  --vxe-table-footer-font-color: #98989e;
  --vxe-table-border-radius: 4px;
  --vxe-table-border-width: 1px;
  --vxe-table-border-color: #ccc;
  --vxe-table-resizable-line-color: #ccc;
  --vxe-table-resizable-drag-line-color: #409eff;
  --vxe-table-header-background-color: #28282a;
  --vxe-table-body-background-color: #151518;
  --vxe-table-footer-background-color: #151518;
  --scrollbar-track-bg-color: #d2d2d2;
  --scrollbar-thumb-bg-color: #a3a2a2;
}
html, html.light{
  --scrollbar-track-bg-color: #f1f1f1;
  --scrollbar-thumb-bg-color: #c0c0c0;
  --vxe-table-fixed-left-shadow: 3px 0 5px rgba(0,0,0,0.35);
  --vxe-table-fixed-right-shadow: -3px 0 5px rgba(0,0,0,0.35);
}
html.dark {
  color-scheme: dark;
  --scrollbar-track-bg-color: #494949;
  --scrollbar-thumb-bg-color: #686868;
  --vxe-table-fixed-left-shadow: 3px 0 5px rgba(0,0,0,0.9);
  --vxe-table-fixed-right-shadow: -3px 0 5px rgba(0,0,0,0.9);
  --vxe-font-size: 14px;
  --vxe-font-size-medium: 14px;
  --vxe-font-size-small: 13px;
  --vxe-font-size-mini: 12px;
  --vxe-border-radius: 4px;
  --vxe-icon-font-family: Verdana,Arial,Tahoma;
  --vxe-icon-background-color: #98989e;
  --vxe-font-color: #98989e;
  --vxe-primary-color: #2c7ecf;
  --vxe-success-color: #67c23a;
  --vxe-info-color: #909399;
  --vxe-warning-color: #e6a23c;
  --vxe-danger-color: #f56c6c;
  --vxe-font-lighten-color: #797b80;
  --vxe-primary-lighten-color: #73b8ff;
  --vxe-success-lighten-color: #85cf60;
  --vxe-info-lighten-color: #abadb1;
  --vxe-warning-lighten-color: #ecb869;
  --vxe-danger-lighten-color: #f89c9c;
  --vxe-font-darken-color: #47494c;
  --vxe-primary-darken-color: #0d84ff;
  --vxe-success-darken-color: #529b2e;
  --vxe-info-darken-color: #767980;
  --vxe-warning-darken-color: #d48a1b;
  --vxe-danger-darken-color: #f23c3c;
  --vxe-font-disabled-color: #bfbfbf;
  --vxe-primary-disabled-color: #a6d2ff;
  --vxe-success-disabled-color: #a3db87;
  --vxe-info-disabled-color: #c5c7ca;
  --vxe-warning-disabled-color: #f2cd96;
  --vxe-danger-disabled-color: #fbcccc;
  --vxe-input-border-color: #424242;
  --vxe-input-disabled-color: #8d9095;
  --vxe-input-disabled-background-color: #585656;
  --vxe-input-placeholder-color: #8d9095;
  --vxe-table-popup-border-color: #424242;
  --vxe-table-header-font-color: #98989e;
  --vxe-table-footer-font-color: #98989e;
  --vxe-table-border-radius: 4px;
  --vxe-table-border-width: 1px;
  --vxe-table-border-color: #37373a;
  --vxe-table-resizable-line-color: hsla(0,0%,100%,.1);
  --vxe-table-resizable-drag-line-color: #409eff;
  --vxe-table-header-background-color: #28282a;
  --vxe-table-body-background-color: #151518;
  --vxe-table-footer-background-color: #151518;
  --vxe-table-tree-node-line-color: #909399;
  --vxe-table-tree-node-line-style: dotted;
  --vxe-table-header-font-weight: 700;
  --vxe-table-row-height-default: 48px;
  --vxe-table-row-height-medium: 44px;
  --vxe-table-row-height-small: 40px;
  --vxe-table-row-height-mini: 36px;
  --vxe-table-row-line-height: 22px;
  --vxe-table-row-hover-background-color: #262727;
  --vxe-table-row-striped-background-color: #1d1d1d;
  --vxe-table-row-hover-striped-background-color: #262727;
  --vxe-table-row-radio-checked-background-color: #604820;
  --vxe-table-row-hover-radio-checked-background-color: #6e5326;
  --vxe-table-row-checkbox-checked-background-color: #604820;
  --vxe-table-row-hover-checkbox-checked-background-color: #6e5326;
  --vxe-table-row-current-background-color: #18222c;
  --vxe-table-row-hover-current-background-color: #262727;
  --vxe-table-column-padding-default: 13px 0;
  --vxe-table-column-padding-medium: 11px 0;
  --vxe-table-column-padding-small: 9px 0;
  --vxe-table-column-padding-mini: 7px 0;
  --vxe-table-column-hover-background-color: #18222c;
  --vxe-table-column-current-background-color: #18222c;
  --vxe-table-column-icon-border-color: #c0c4cc;
  --vxe-table-column-icon-border-hover-color: #515a6e;
  --vxe-table-cell-placeholder-color: #c0c4cc;
  --vxe-table-cell-padding-left: 10px;
  --vxe-table-cell-padding-right: 10px;
  --vxe-table-cell-input-height-default: 42px;
  --vxe-table-cell-input-height-medium: 38px;
  --vxe-table-cell-input-height-small: 34px;
  --vxe-table-cell-input-height-mini: 30px;
  --vxe-table-cell-dirty-width: 5px;
  --vxe-table-cell-dirty-update-color: #f56c6c;
  --vxe-table-cell-dirty-insert-color: #19a15f;
  --vxe-table-cell-area-border-color: #409eff;
  --vxe-table-cell-area-border-width: 1px;
  --vxe-table-cell-main-area-extension-border-color: #fff;
  --vxe-table-cell-main-area-extension-background-color: #409eff;
  --vxe-table-cell-extend-area-border-width: 2px;
  --vxe-table-cell-copy-area-border-width: 3px;
  --vxe-table-cell-active-area-border-width: 2px;
  --vxe-table-cell-active-area-background-color: transparent;
  --vxe-table-cell-copy-area-border-color: #409eff;
  --vxe-table-cell-extend-area-border-color: #409eff;
  --vxe-table-cell-active-area-border-color: #409eff;
  --vxe-table-cell-area-background-color: rgba(64,158,255,.2);
  --vxe-table-checkbox-range-border-width: 1px;
  --vxe-table-checkbox-range-border-color: #006af1;
  --vxe-table-checkbox-range-background-color: rgba(50,128,252,.2);
  --vxe-table-fixed-left-scrolling-box-shadow: 8px 0px 10px -5px rgba(0,0,0,.5);
  --vxe-table-fixed-right-scrolling-box-shadow: -8px 0px 10px -5px rgba(0,0,0,.5);
  --vxe-table-filter-panel-background-color: #151518;
  --vxe-table-menu-item-width: 178px;
  --vxe-table-menu-background-color: #fff;
  --vxe-loading-color: #409eff;
  --vxe-loading-background-color: rgba(0,0,0,.5);
  --vxe-loading-z-index: 999;
  --vxe-table-validate-error-color: #f56c6c;
  --vxe-table-validate-error-background-color: #fff;
  --vxe-grid-maximize-background-color: #fff;
  --vxe-toolbar-background-color: #151518;
  --vxe-toolbar-custom-active-background-color: #d9dadb;
  --vxe-toolbar-panel-background-color: #151518;
  --vxe-tooltip-dark-color: #fff;
  --vxe-tooltip-dark-background-color: #303133;
  --vxe-tooltip-light-background-color: #fff;
  --vxe-pager-background-color: #151518;
  --vxe-pager-perfect-background-color: #151518;
  --vxe-pager-perfect-button-background-color: #151518;
  --vxe-modal-header-background-color: #151518;
  --vxe-modal-body-background-color: #151518;
  --vxe-modal-border-color: #424242;
  --vxe-drawer-header-background-color: #151518;
  --vxe-drawer-body-background-color: #151518;
  --vxe-drawer-border-color: #424242;
  --vxe-checkbox-font-size-default: 15px;
  --vxe-checkbox-font-size-medium: 14px;
  --vxe-checkbox-font-size-small: 13px;
  --vxe-checkbox-font-size-mini: 12px;
  --vxe-checkbox-checked-width: 0.32em;
  --vxe-checkbox-checked-height: 0.64em;
  --vxe-checkbox-indeterminate-width: 0.6em;
  --vxe-checkbox-indeterminate-height: 2px;
  --vxe-checkbox-border-width: 2px;
  --vxe-checkbox-border-radius: 2px;
  --vxe-checkbox-icon-background-color: #fff;
  --vxe-checkbox-checked-icon-border-color: #fff;
  --vxe-checkbox-indeterminate-icon-background-color: #fff;
  --vxe-radio-font-size-default: 15px;
  --vxe-radio-font-size-medium: 14px;
  --vxe-radio-font-size-small: 13px;
  --vxe-radio-font-size-mini: 12px;
  --vxe-radio-border-width: 2px;
  --vxe-radio-icon-background-color: #fff;
  --vxe-radio-checked-icon-background-color: #fff;
  --vxe-radio-indeterminate-icon-background-color: #fff;
  --vxe-radio-button-default-background-color: #151518;
  --vxe-button-max-width: 500px;
  --vxe-button-default-background-color: #151518;
  --vxe-button-dropdown-panel-background-color: #151518;
  --vxe-button-height-default: 34px;
  --vxe-button-height-medium: 32px;
  --vxe-button-height-small: 30px;
  --vxe-button-height-mini: 28px;
  --vxe-button-round-border-radius-default: 17px;
  --vxe-button-round-border-radius-medium: 16px;
  --vxe-button-round-border-radius-small: 15px;
  --vxe-button-round-border-radius-mini: 14px;
  --vxe-input-background-color: #151518;
  --vxe-input-panel-background-color: #fff;
  --vxe-input-number-disabled-color: #e4e7ed;
  --vxe-input-date-festival-color: #999;
  --vxe-input-date-festival-important-color: #409eff;
  --vxe-input-date-notice-background-color: red;
  --vxe-input-date-picker-hover-background-color: #f2f6fc;
  --vxe-input-date-picker-selected-color: #fff;
  --vxe-input-date-time-confirm-button-color: #fff;
  --vxe-input-date-picker-festival-selected-color: #fff;
  --vxe-input-date-picker-notice-selected-background-color: #fff;
  --vxe-input-date-extra-color: #67c23a;
  --vxe-input-date-extra-important-color: #fd2222;
  --vxe-input-date-title-height-default: 30px;
  --vxe-input-date-title-height-medium: 29px;
  --vxe-input-date-title-height-small: 28px;
  --vxe-input-date-title-height-mini: 26px;
  --vxe-input-date-time-week-row-height-default: 38px;
  --vxe-input-date-time-week-row-height-medium: 36px;
  --vxe-input-date-time-week-row-height-small: 34px;
  --vxe-input-date-time-week-row-height-mini: 32px;
  --vxe-input-date-month-year-row-height-default: 48px;
  --vxe-input-date-month-year-row-height-medium: 46px;
  --vxe-input-date-month-year-row-height-small: 44px;
  --vxe-input-date-month-year-row-height-mini: 42px;
  --vxe-input-date-quarter-row-height-default: 60px;
  --vxe-input-date-quarter-row-height-medium: 58px;
  --vxe-input-date-quarter-row-height-small: 56px;
  --vxe-input-date-quarter-row-height-mini: 54px;
  --vxe-input-height-default: 34px;
  --vxe-input-height-medium: 32px;
  --vxe-input-height-small: 30px;
  --vxe-input-height-mini: 28px;
  --vxe-input-count-color: #999;
  --vxe-input-count-background-color: #151518;
  --vxe-input-count-error-color: #f56c6c;
  --vxe-textarea-line-height: 1.5715;
  --vxe-textarea-background-color: #151518;
  --vxe-form-item-min-height-default: 36px;
  --vxe-form-item-min-height-medium: 34px;
  --vxe-form-item-min-height-small: 32px;
  --vxe-form-item-min-height-mini: 30px;
  --vxe-form-background-color: #151518;
  --vxe-form-validate-error-color: #f56c6c;
  --vxe-form-validate-error-background-color: inherit;
  --vxe-select-option-height-default: 30px;
  --vxe-select-option-height-medium: 28px;
  --vxe-select-option-height-small: 26px;
  --vxe-select-option-height-mini: 24px;
  --vxe-select-option-hover-background-color: #262727;
  --vxe-select-panel-background-color: #151518;
  --vxe-select-empty-color: #c0c4cc;
  --vxe-optgroup-title-color: #909399;
  --vxe-switch-font-color: #fff;
  --vxe-switch-icon-background-color: #fff;
  --vxe-switch-open-background-color: #409eff;
  --vxe-switch-close-background-color: #4c4d4f;
  --vxe-switch-disabled-background-color: rgba(0,0,0,.15);
  --vxe-pulldown-panel-background-color: #151518;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-bg-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-bg-color);
  border-radius: 3px;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}

.vx-table {
  --vxe-table-row-height-default: 40px;
  
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  &-title{
    display: flex;
    align-items: center;
    gap: 1px;
  }
  
  .cell--fixed {
    background-color: #fff;
  }
  .header-cell--fixed, .vxe-header--column {
    background-color: var(--vxe-table-header-background-color);
  }
  .cell--fixed, .header-cell--fixed {
    position: sticky !important;
    z-index: 2;
  }
  .left-shadow{
    &::after{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 1px;
      box-shadow: var(--vxe-table-fixed-left-shadow);
    }
  }
  .right-shadow{
    &::after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 1px;
      box-shadow: var(--vxe-table-fixed-right-shadow);
    }
  }
  .right-gutter + .vxe-header--gutter{
    position: sticky;
    right: 0;
    background-color: var(--vxe-table-header-background-color);
    z-index: 1;
  }
  .row--checked, .row--hover{
    .cell--fixed {
      background-color: #EAF3FF;
    }
  }
  .header-cell--fixed {
    .vxe-resizable{
      right: -6px;
    }
    &.left-shadow{
      .vxe-resizable{
        right: -2px;
      }
    }
  } 
  &__header {
    overflow: hidden;
  }

  &__form {
    display: flex;
    gap: 8px;
    padding: 10px;
    box-shadow: 0 1px 0 0 rgba($color: #EFF3FE, $alpha: 1.0);

    &-content {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      width: 100%;
    }

    &-handle {
      display: flex;
      gap: 8px;
      margin-left: auto;
    }

    .el-button+.el-button {
      margin: 0;
    }
  }

  &__toolbar {
    width: 100%;
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    .el-button {
      margin: 0;

      &+.el-button {
        margin-left: 0;
      }
    }
  }

  &__content {
    flex: 1;
    display: flex;
    min-height: 0;
    flex-direction: column;
    margin-top: 0;
    padding: 0 10px;
    position: relative;
    box-sizing: border-box;
  }

  &__footer {
    display: flex;
    flex-direction: row-reverse;
    padding: 5px 10px;
    border: 1px solid #e6e8eb;
    border-top: 0;
    margin-bottom: 10px;
  }

  &--to-top {
    position: absolute;
    right: 10px;
    bottom: 50px;
    width: 30px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    z-index: 10;

    &-item{
      width: 30px;
      height: 30px;
      line-height: 34px;
      text-align: center;
      background-color: #999;
      border-radius: 20px;
      cursor: pointer;
      transition: all .2s;
      opacity: .4;
      > *{
        color: #fff;
      }
      &:hover {
        opacity: .8;
      }
    }
  }

  // 覆盖vxe-table样式
  .vxe-checkbox .vxe-checkbox--icon,
  .vxe-custom--option .vxe-checkbox--icon,
  .vxe-export--panel-column-option .vxe-checkbox--icon,
  .vxe-table--filter-option .vxe-checkbox--icon,
  .vxe-table--render-default .vxe-cell--checkbox .vxe-checkbox--icon {
    font-weight: 100;
  }
  
  .vxe-buttons--wrapper {
    gap: 8px;
    
    .el-button {
      margin: 0;
    }
  }
  
  .vxe-cell {
    line-height: 1.3rem;
  }
}

.v-pagination-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: right;
  height: 40px;
  background: var(--el-bg-color);
}

.vxe-radio .vxe-radio--icon,
.vxe-table--render-default .vxe-cell--radio .vxe-radio--icon {
  font-weight: 100;
  font-size: inherit;
}

body {

  .is--checked.vxe-radio,
  .is--checked.vxe-radio .vxe-radio--icon,
  .vxe-table--render-default .is--checked.vxe-cell--radio,
  .vxe-table--render-default .is--checked.vxe-cell--radio .vxe-radio--icon {
    color: var(--el-color-primary);

    &:hover {
      color: var(--el-color-primary);
    }
  }
}

body>.vxe-select--panel {
  z-index: 5000 !important;
}