
html.grey {
  color-scheme: dark;
  --vxe-input-border-color: #bbb;
  --vxe-input-disabled-color: #8d9095;
  --vxe-input-disabled-background-color: #585656;
  --vxe-input-placeholder-color: #8d9095;
  --vxe-table-popup-border-color: #424242;
  --vxe-table-header-font-color: #98989e;
  --vxe-table-footer-font-color: #98989e;
  --vxe-table-border-radius: 4px;
  --vxe-table-border-width: 1px;
  --vxe-table-border-color: #ccc;
  --vxe-table-resizable-line-color: #ccc;
  --vxe-table-resizable-drag-line-color: #409eff;
  --vxe-table-header-background-color: #28282a;
  --vxe-table-body-background-color: #151518;
  --vxe-table-footer-background-color: #151518;
  --scrollbar-track-bg-color: #d2d2d2;
  --scrollbar-thumb-bg-color: #a3a2a2;
}
[data-vxe-ui-theme=light]{
  --scrollbar-track-bg-color: #f1f1f1;
  --scrollbar-thumb-bg-color: #c0c0c0;
  --vxe-table-fixed-left-shadow: 3px 0 5px rgba(0,0,0,0.35);
  --vxe-table-fixed-right-shadow: -3px 0 5px rgba(0,0,0,0.35);
}
[data-vxe-ui-theme=dark]{
  --scrollbar-track-bg-color: #494949;
  --scrollbar-thumb-bg-color: #686868;
  --vxe-table-fixed-left-shadow: 3px 0 5px rgba(0,0,0,0.9);
  --vxe-table-fixed-right-shadow: -3px 0 5px rgba(0,0,0,0.9);
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-bg-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-bg-color);
  border-radius: 3px;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}

.vx-table {
  --vxe-table-row-height-default: 40px;
  
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  &-title{
    display: flex;
    align-items: center;
    gap: 1px;
  }
  
  .cell--fixed {
    background-color: #fff;
  }
  .header-cell--fixed, .vxe-header--column {
    background-color: var(--base-table-header-bg-color);
  }
  .cell--fixed, .header-cell--fixed {
    position: sticky !important;
    z-index: 2;
  }
  .left-shadow{
    &::after{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 1px;
      box-shadow: var(--vxe-table-fixed-left-shadow);
    }
  }
  .right-shadow{
    &::after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 1px;
      box-shadow: var(--vxe-table-fixed-right-shadow);
    }
  }
  .right-gutter + .vxe-header--gutter{
    position: sticky;
    right: 0;
    background-color: var(--base-table-header-bg-color);
    z-index: 1;
  }
  .row--checked, .row--hover{
    .cell--fixed {
      background-color: #EAF3FF;
    }
  }
  .header-cell--fixed {
    .vxe-resizable{
      right: -6px;
    }
    &.left-shadow{
      .vxe-resizable{
        right: -2px;
      }
    }
  } 
  &__header {
    overflow: hidden;
  }

  &__form {
    display: flex;
    gap: 8px;
    padding: 10px;
    box-shadow: 0 1px 0 0 rgba($color: #EFF3FE, $alpha: 1.0);

    &-content {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      width: 100%;
    }

    &-handle {
      display: flex;
      gap: 8px;
      margin-left: auto;
    }

    .el-button+.el-button {
      margin: 0;
    }
  }

  &__toolbar {
    width: 100%;
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    .el-button {
      margin: 0;

      &+.el-button {
        margin-left: 0;
      }
    }
  }

  &__content {
    flex: 1;
    display: flex;
    min-height: 0;
    flex-direction: column;
    margin-top: 0;
    padding: 0 10px;
    position: relative;
    box-sizing: border-box;
  }

  &__footer {
    display: flex;
    flex-direction: row-reverse;
    padding: 5px 10px;
    border: 1px solid #e6e8eb;
    border-top: 0;
    margin-bottom: 10px;
  }

  &--to-top {
    position: absolute;
    width: 30px;
    height: 30px;
    line-height: 34px;
    text-align: center;
    background-color: #999;
    right: 10px;
    bottom: 54px;
    z-index: 10;
    border-radius: 20px;
    cursor: pointer;
    transition: all .2s;
    opacity: .4;

    &:hover {
      opacity: .8;
    }

    .el-icon {
      color: #fff;
    }
  }

  // 覆盖vxe-table样式
  .vxe-checkbox .vxe-checkbox--icon,
  .vxe-custom--option .vxe-checkbox--icon,
  .vxe-export--panel-column-option .vxe-checkbox--icon,
  .vxe-table--filter-option .vxe-checkbox--icon,
  .vxe-table--render-default .vxe-cell--checkbox .vxe-checkbox--icon {
    font-weight: 100;
  }
  
  .vxe-buttons--wrapper {
    gap: 8px;
    
    .el-button {
      margin: 0;
    }
  }
  
  .vxe-cell {
    line-height: 1.3rem;
  }
}

.v-pagination-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: right;
  height: 40px;
  background: var(--el-bg-color);
}

.vxe-radio .vxe-radio--icon,
.vxe-table--render-default .vxe-cell--radio .vxe-radio--icon {
  font-weight: 100;
  font-size: inherit;
}

body {

  .is--checked.vxe-radio,
  .is--checked.vxe-radio .vxe-radio--icon,
  .vxe-table--render-default .is--checked.vxe-cell--radio,
  .vxe-table--render-default .is--checked.vxe-cell--radio .vxe-radio--icon {
    color: var(--el-color-primary);

    &:hover {
      color: var(--el-color-primary);
    }
  }
}

body>.vxe-select--panel {
  z-index: 5000 !important;
}