.vx-table {
  --vxe-table-row-height-default: 40px;
  --vxe-table-row-checkbox-checked-background-color: #EAF3FF;
  --vxe-table-row-hover-checkbox-checked-background-color: #EAF3FF;
  --vxe-table-row-hover-background-color: #EAF3FF;
  
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  
  .cell--fixed {
    background-color: #fff;
  }
  .left-shadow{
    &::after{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 1px;
      box-shadow: 3px 0 5px rgba(0,0,0,0.3);
    }
  }
  .right-shadow{
    &::after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 1px;
      box-shadow: -3px 0 5px rgba(0,0,0,0.3);
    }
  }
  .right-gutter + .vxe-header--gutter{
    position: sticky;
    right: 0;
    background-color: #F6FAFF;
    z-index: 1;
  }
  .header-cell--fixed, .vxe-header--column {
    background-color: #F6FAFF;
  }
  .row--checked, .row--hover{
    .cell--fixed {
      background-color: #EAF3FF;
    }
  }
  &__header {
    overflow: hidden;
  }

  &__form {
    display: flex;
    gap: 8px;
    padding: 10px;
    box-shadow: 0 1px 0 0 rgba($color: #EFF3FE, $alpha: 1.0);

    &-content {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      width: 100%;
    }

    &-handle {
      display: flex;
      gap: 8px;
      margin-left: auto;
    }

    .el-button+.el-button {
      margin: 0;
    }
  }

  &__toolbar {
    width: 100%;
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    .el-button {
      margin: 0;

      &+.el-button {
        margin-left: 0;
      }
    }
  }

  &__content {
    flex: 1;
    display: flex;
    min-height: 0;
    flex-direction: column;
    margin-top: 0;
    padding: 0 10px;
    position: relative;
    box-sizing: border-box;
  }

  &__footer {
    display: flex;
    flex-direction: row-reverse;
    padding: 5px 10px;
    border: 1px solid #e6e8eb;
    border-top: 0;
    margin-bottom: 10px;
  }

  &--to-top {
    position: absolute;
    width: 30px;
    height: 30px;
    line-height: 34px;
    text-align: center;
    background-color: #999;
    right: 10px;
    bottom: 54px;
    z-index: 10;
    border-radius: 20px;
    cursor: pointer;
    transition: all .2s;
    opacity: .4;

    &:hover {
      opacity: .8;
    }

    .el-icon {
      color: #fff;
    }
  }

  // 覆盖vxe-table样式
  .vxe-checkbox .vxe-checkbox--icon,
  .vxe-custom--option .vxe-checkbox--icon,
  .vxe-export--panel-column-option .vxe-checkbox--icon,
  .vxe-table--filter-option .vxe-checkbox--icon,
  .vxe-table--render-default .vxe-cell--checkbox .vxe-checkbox--icon {
    font-weight: 100;
  }
  
  .vxe-buttons--wrapper {
    gap: 8px;
    
    .el-button {
      margin: 0;
    }
  }
  
  .vxe-cell {
    line-height: 1.3rem;
  }
}

.v-pagination-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: right;
  height: 40px;
  background: #fff;
}

.vxe-radio .vxe-radio--icon,
.vxe-table--render-default .vxe-cell--radio .vxe-radio--icon {
  font-weight: 100;
  font-size: 1.1em;
}

body {

  .is--checked.vxe-radio,
  .is--checked.vxe-radio .vxe-radio--icon,
  .vxe-table--render-default .is--checked.vxe-cell--radio,
  .vxe-table--render-default .is--checked.vxe-cell--radio .vxe-radio--icon {
    color: var(--el-color-primary);

    &:hover {
      color: var(--el-color-primary);
    }
  }
}

body>.vxe-select--panel {
  z-index: 5000 !important;
}