html {
  --el-fill-color-blank: transparent !important;
  body {
    // element-ui
    --el-bg-color: var(--base-color);
    --el-bg-color-overlay: var(--el-bg-color);
    --el-menu-hover-bg-color: var(--base-menu-bg-color);
    --el-border-color: var(--base-border-color);

    .el-table {
      thead th {
        font-weight: 400;
        --el-table-header-bg-color: var(--base-table-header-bg-color); // 表头背景
      }
      --el-table-row-hover-bg-color: var(--base-table-row-hover-bg-color); // 表格hover颜色
    }

    // vxe 表格
    .vx-table,
    .vxe-grid {
      --vxe-table-row-checkbox-checked-background-color: var(--base-table-row-hover-bg-color); // 表格hover颜色
      --vxe-table-row-hover-checkbox-checked-background-color: var(--base-table-row-hover-bg-color); // 表格hover颜色
      --vxe-table-row-hover-background-color: var(--base-table-row-hover-bg-color); // 表格hover颜色
      --vxe-table-header-background-color: var(--base-table-header-bg-color); // 表头背景
      // --vxe-table-border-color: var(--base-border-color);
      --vxe-toolbar-background-color: var(--base-color);
      --vxe-table-body-background-color: var(--base-color);
      // .vxe-table--render-default .vxe-body--row.row--checked,
      // body .vxe-table--render-default .vxe-body--row.row--radio {
      //   // background-color: var(--vxe-table-row-checkbox-checked-background-color);
      // }
      .cell--fixed {
        background-color: var(--base-color);
      }
      .row--checked .cell--fixed,
      .row--hover .cell--fixed {
        background-color: var(--base-table-row-hover-bg-color);
      }
      .vxe-table--header .vxe-header--column {
        background-color: var(--vxe-table-header-background-color);
      }
    }
    // 分页
    .v-pagination-container {
      background-color: var(--base-color);
    }
    --vxe-pager-background-color: var(--el-bg-color) !important; // 分页颜色
    --vxe-input-background-color: transparent;
    --vxe-font-color: var(--base-sub-text-color);

    // VText
    --v-text--title-color: var(--base-sub-text-color);
    --v-text--content-color: var(--base-text-color);
    div,
    p {
      color: var(--base-text-color);
    }

    // 公用 状态样式
  }

  // ---------------------------------------
  &.dark {
    --base-color: #1a1a1a; // 大色块颜色
    --base-bg-color: #2f2f2f; // 背景颜色
    // 分割线颜色
    --base-border-color: #727374; //  按钮输入框边框颜色下拉图标颜色
    --base-table-hover-bg-color: #10294d; // 列表 选中背景颜色
    --base-table-header-bg-color: #0a1b33; // 列表 表头背景颜色
    --base-table-row-hover-bg-color: #10294d; // 表格hover颜色
    --base-text-color: #cfd3dc; // 默认字体颜色
    --base-sub-text-color: #bababa; // 标题字体颜色
    --base-icon-color: rgba(255, 255, 255, 0.6); // 默认icon颜色
    --base-tags-view-bg: #242526; // 导航栏背景
    --base-menu-bg-color: #143565; // 顶部及左侧导航栏选中颜色
    --base-error-hint: #571218; // 异常提示
    --base-warning-bg: #fef6e7; // 状态
    --base-info-bg: #ebecee; // 异常提示

    --el-fill-color-light: #616161;
    --el-text-color-placeholder: #727374;
  }

  &.grey {
    --base-color: #e0e0e0; // 大色块颜色
    --base-bg-color: #cccbcb; // 背景颜色
    // 分割线颜色
    --base-border-color: #c5c7c9; //  按钮输入框边框颜色下拉图标颜色
    --base-table-hover-bg-color: #cecece; // 列表 选中背景颜色
    --base-table-header-bg-color: #dbdbdb; // 列表 表头背景颜色
    --base-table-row-hover-bg-color: #cecece; // 表格hover颜色
    --base-text-color: #333; // 默认字体颜色
    --base-sub-text-color: #666; // 标题字体颜色
    --base-icon-color: #666; // 默认icon颜色
    --base-tags-view-bg: #e0e0e0; // 导航栏背景
    --base-menu-bg-color: #eaf3ff; // 顶部及左侧导航栏选中颜色
    --base-error-hint: #ffe5e5; // 异常提示
    --base-warning-bg: #5e4618; // 状态
    --base-info-bg: #5f5f5f; // 状态

    --el-fill-color-light: #eae9e9;
    --el-text-color-placeholder: #bababa;
  }

  &.light {
    --base-color: #fff; // 大色块颜色
    --base-bg-color: #efefef; // 背景颜色
    //  分割线颜色
    --base-border-color: #e6e7e9; // 按钮输入框边框颜色下拉图标颜色
    --base-table-hover-bg-color: #eaf3ff; //列表 选中背景颜色
    --base-table-header-bg-color: #f6faff; // 列表 表头背景颜色
    --base-table-row-hover-bg-color: #eaf3ff; // 表格hover颜色
    --base-text-color: #333; // 默认字体颜色
    --base-sub-text-color: #666; // 标题字体颜色
    --base-icon-color: #666; // 默认icon颜色
    --base-tags-view-bg: #fff; // 导航栏背景
    --base-menu-bg-color: #eaf3ff; // 顶部及左侧导航栏选中颜色
    --base-error-hint: #ffe5e5; // 异常提示
    --base-warning-bg: #5e4618; // 状态
    --base-info-bg: #5f5f5f; // 状态
  }
}

// 官方配置 精简
html.dark {
  color-scheme: dark;
  --el-color-primary: #3487ff;
  --el-color-primary-light-3: #3375b9;
  --el-color-primary-light-5: #2a598a;
  --el-color-primary-light-7: #213d5b;
  --el-color-primary-light-8: #1d3043;
  --el-color-primary-light-9: #18222c;
  --el-color-primary-dark-2: #66b1ff;
  --el-color-success: #67c23a;
  --el-color-success-light-3: #4e8e2f;
  --el-color-success-light-5: #3e6b27;
  --el-color-success-light-7: #2d481f;
  --el-color-success-light-8: #25371c;
  --el-color-success-light-9: #1c2518;
  --el-color-success-dark-2: #85ce61;
  --el-color-warning: #e6a23c;
  --el-color-warning-light-3: #a77730;
  --el-color-warning-light-5: #7d5b28;
  --el-color-warning-light-7: #533f20;
  --el-color-warning-light-8: #3e301c;
  --el-color-warning-light-9: #292218;
  --el-color-warning-dark-2: #ebb563;
  --el-color-danger: #f56c6c;
  --el-color-danger-light-3: #b25252;
  --el-color-danger-light-5: #854040;
  --el-color-danger-light-7: #582e2e;
  --el-color-danger-light-8: #412626;
  --el-color-danger-light-9: #2b1d1d;
  --el-color-danger-dark-2: #f78989;
  --el-color-error: #f56c6c;
  --el-color-error-light-3: #b25252;
  --el-color-error-light-5: #854040;
  --el-color-error-light-7: #582e2e;
  --el-color-error-light-8: #412626;
  --el-color-error-light-9: #2b1d1d;
  --el-color-error-dark-2: #f78989;
  --el-color-info: #909399;
  --el-color-info-light-3: #6b6d71;
  --el-color-info-light-5: #525457;
  --el-color-info-light-7: #393a3c;
  --el-color-info-light-8: #2d2d2f;
  --el-color-info-light-9: #202121;
  --el-color-info-dark-2: #a6a9ad;
  --el-box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, .36), 0px 8px 20px rgba(0, 0, 0, .72);
  --el-box-shadow-light: 0px 0px 12px rgba(0, 0, 0, .72);
  --el-box-shadow-lighter: 0px 0px 6px rgba(0, 0, 0, .72);
  --el-box-shadow-dark: 0px 16px 48px 16px rgba(0, 0, 0, .72), 0px 12px 32px #000000, 0px 8px 16px -8px #000000;
  --el-bg-color-page: #0a0a0a;
  --el-bg-color: #141414;
  --el-bg-color-overlay: #1d1e1f;
  --el-text-color-primary: #E5EAF3;
  --el-text-color-regular: #CFD3DC;
  --el-text-color-secondary: #A3A6AD;
  --el-text-color-placeholder: #8D9095;
  --el-text-color-disabled: #6C6E72;
  --el-border-color-darker: #636466;
  --el-border-color-dark: #58585B;
  --el-border-color: #4C4D4F;
  --el-border-color-light: #414243;
  --el-border-color-lighter: #363637;
  --el-border-color-extra-light: #2B2B2C;
  --el-fill-color-darker: #424243;
  --el-fill-color-dark: #39393A;
  --el-fill-color: #303030;
  --el-fill-color-light: #262727;
  --el-fill-color-lighter: #1D1D1D;
  --el-fill-color-extra-light: #191919;
  --el-fill-color-blank: transparent;
  --el-mask-color: rgba(0, 0, 0, .8);
  --el-mask-color-extra-light: rgba(0, 0, 0, .3);
}

:root {
  --vxe-table-docs-font-color: #000;
  --vxe-table-docs-background-color: #fff;
  --vxe-table-docs-layout-border-color: #dcdfe6;
  --vxe-table-docs-declare-tip-background-color: #f8f8f8
}

// [vxe-docs-theme=dark] {
//   --vxe-table-docs-font-color: #98989e;
//   --vxe-table-docs-background-color: #141414;
//   --vxe-table-docs-layout-border-color: #4c4d4f;
//   --vxe-table-docs-declare-tip-background-color: #141414
// }
